# credofaster_partner_api
#
# This file was automatically generated by
# APIMATIC v2.0 ( https://apimatic.io ).

module CredofasterPartnerApi
  # MainController
  class MainController < BaseController
    @instance = MainController.new

    class << self
      attr_accessor :instance
    end

    def instance
      self.class.instance
    end

    # Request Airtime Purchase
    # @param [PartnerAirtimeRequest] request Required parameter: Example:
    # @return List of PartnerAirtimeResponse response from the API call
    def airtime_request(request)
      # Prepare query url.
      _path_url = '/airtime/request'
      _query_builder = Configuration.get_base_uri(
        Configuration::Server::DEFAULT
      )
      _query_builder << _path_url
      _query_url = APIHelper.clean_url _query_builder
      # Prepare headers.
      _headers = {
        'accept' => 'application/json',
        'content-type' => 'application/json; charset=utf-8'
      }
      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        headers: _headers,
        parameters: request.to_json
      )
      CustomHeaderAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)
      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_context.response.raw_body)
      decoded.map { |element| PartnerAirtimeResponse.from_hash(element) }
    end

    # Gets the current Working Balance.
    # Balance is SIGNED
    # @return PartnerAirtimeBalanceResponse response from the API call
    def airtime_balance
      # Prepare query url.
      _path_url = '/airtime/balance'
      _query_builder = Configuration.get_base_uri(
        Configuration::Server::DEFAULT
      )
      _query_builder << _path_url
      _query_url = APIHelper.clean_url _query_builder
      # Prepare headers.
      _headers = {
        'accept' => 'application/json'
      }
      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        headers: _headers
      )
      CustomHeaderAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)
      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_context.response.raw_body)
      PartnerAirtimeBalanceResponse.from_hash(decoded)
    end
  end
end
